<footer>
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg ">
        <div class="collapse navbar-collapse header-link">
          <div class="navbar-nav row">
            <a class="nav-item nav-link" href="#">ABOUT</a>
            <a class="nav-item nav-link" href="#">CONTACT</a>
            <a class="nav-item nav-link padding-icon" href="#"><img src="/images/facebook.png" class="social-icons " alt=""></a>
            <a class="nav-item nav-link" href="#"><img src="/images/linkdin.png" class="social-icons" alt=""></a>
            <a class="nav-item nav-link" href="#"><img src="/images/twitter.jpg" class="social-icons" alt=""></a>
          </div>
        </div>
      </nav>
</footer>