<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Teknix</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light navbar-bg ">
                <a class="navbar-brand" href="/">
                    <img src="/images/company-img.png" class="brand-img d-inline-block align-top" alt="">
                </a>
                <div class="collapse navbar-collapse header-link" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/connections/newConnection">Create Event</a>
                    <a class="nav-item nav-link" href="/index">Login</a>
                    <a class="nav-item nav-link" href="/index">Sign Up</a>
                  </div>
                </div>
              </nav>
              <nav  class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" >
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/connections">Show Events</a>
                    </div>
                </div>
              </nav>
        </header> 
    </div>