<%- include('../partials/header.ejs')%>
    <div class="container">
        <div class="row">
            <div class="events-card">
                <div class="card bg-light mb-3">
                    <div class="card-header">HR EVENTS</div>
                    <div class="card-body">
                        <ul>
                            <li><a  href="/connections/showConnection">Freashers Party</a></li>
                            <li><a  href="/connections/showConnection">Holi Party</a></li>
                            <li><a  href="/connections/showConnection">Culture Mixing Event</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header">KNOWLEDGE EVENT</div>
                    <div class="card-body">
                        <ul>
                        <li><a  href="/connections/showConnection">Learn Python</a></li>
                        <li><a  href="/connections/showConnection">Spring Tutorial</a></li>
                        <li><a  href="/connections/showConnection">Angular Workshop</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>