<%- include('../partials/header.ejs')%>

    <div class="container">
        <div class="events-card">
            <div class="card bg-light mb-3">
                <div class="card-header Event-detail-heading">Learn Python</div>
                <div class="card-body row">
                    <div class="col-3"><img src="/images/python.jfif" alt=""></div>
                    <div class="col-7 evntDetl">
                        <h2>Hosted By Jordan</h2>
                        <p>Wednusday, 22nd September 2021</p>
                        <p>11:30 AM - 5:30 PM EST</p>
                        <p>Virtual Event will be hosted on ZOOM</p>
                        <h3>Details</h3>
                        <p>This is a basic level workshop where all the basics of python will be covered, no pre-requisite are required for this workshop. At the end of the workshop a small project will be given for practice. </p>
                    </div>
                    <div class="col-2">
                        <div class="event-details-btn">
                            <a class="btn btn-secondary" href="connections.html">Update</a>
                            <a class="btn btn-danger" href="connections.html">Delete</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>