<%- include('../partials/header.ejs')%>
    <div class="container">
        <form>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Topic</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter the topic">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter the Title">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Host</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter the host Name">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Details</label>
                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Description of the event"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Where</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Location">
                </div>
                <label  class="col-sm-2 col-form-label" >When</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Start</label>
                <div class="col-sm-4">
                    <input type="time" class="form-control" >
                </div>
            
                <label  class="col-sm-2 col-form-label" >End</label>
                <div class="col-sm-4">
                    <input type="time" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-sm-2 col-form-label" >Image URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter the Image URL for the event">
                </div>
            </div>
            <div class="btn-submit">
                <a class="btn btn-primary" href="Connections.html">Submit</a>
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </div>
            </form>
    </div>  
    <%- include('../partials/footer.ejs')%>
</body>
</html>