<%- include('./partials/header.ejs')%>
        <div class="container">
            <article>
            <h1>Introduction</h1>
            <p>Welcome to the Tecknix - Connection Site
            <p>Watch this site to see all the upcoming events happening in tecknix. Interested in creating your own event? Just signup and create the event and you are good to go.To see all the exciting events just go to our <a href="/connections">show events</a> page. To RSVP to an event you have to login.</p>
            </article>
        </div>  
  <%- include('./partials/footer.ejs')%>
</body>
</html>