<%- include('./partials/header.ejs')%>
        <div class="container">
            <article>
            <h1>Contact</h1>
            <p>Number - (143)135-1254</p>
            <p>6666 Choclate street Hi-Tech bulding 12th floor</p>
            </article>
        </div>  
  <%- include('./partials/footer.ejs')%>
</body>
</html>