.col-md-4 img{
    width: 100px;
    height: 100px;
}
.contentError{
  padding-top: 213px;
  padding-left: 22px;
}
#header-links{
  background-color: #333;
  overflow: hidden;
  padding-left: 1000px;
}
.card-top{
  padding-top: 10px;
}

body{
  background-color: #fff0f5;
  overflow: hidden;
}
.event-info{
  padding-left: 22px;
  padding-top: 28px;
  padding-bottom: 14px;
}
.card-img{
  height: 300px;
  width: 300px !important;
}
.newConnection-form{
  padding-top: 30px;
  width: 900px;
  margin-left: 273px;
}
.card-id{
  width: 1000px;
  margin-left: 200px;
  margin-top: 53px;
}
.btn-submit{
  padding-left: 50%;
}
.brand-img{
  width: 79px;
  height: 49px;
  border: black solid;
}
.flash-msg{
  padding-top: 10px;
}
#header-links a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.events-card div{
  width: 1030px;
}
/* .events-card{
  padding-left: 216px;
} */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #23384e;
  color: white;
  text-align: center;
}
.social-icons{
  width: 30px;
  height: 30px;
}
.padding-icon{
  padding-left: 1200px !important;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* background-color: #23384e; */
  color: white;
  text-align: center;
}
.navbar-bg{
  background-color: #23384e;
}
article{
  padding-top: 177px;
}
.Event-detail-heading{
  font-weight: 500;
  width: 100% !important;
}
.event-details-btn a{
  color: #fff;
}
.event-details-btn{
  padding-left: 25%;
}
.nav-item{
  color: #fff !important;
  font-weight: 600;
}
.evntDetl{
  padding-left: 10% !important;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 80px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px !important;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}



/* TABS */




/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #23384e;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 0px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #315174;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.login-input, .signup-input{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px !important;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

.success {
  background: rgba(108, 192, 112, 0.7);
  color: #fff;
  width: 70%;
  text-align: center;
  padding: 10px 10px;
}

.error {
  background: rgba(255, 102, 51, 0.7);
  color: #fff;
  width: 29%;
  text-align: center;
  padding: 10px 10px;
  margin-top: 220px;
  margin-left: 546px;
  border-radius: 10px 10px 10px 10px;
}

.welcome-header{
  margin-left: 900px;
  margin-top: 8px;
}

.profile-table{
  margin-top: 10px;
  height: 600px;
  /* overflow-y: scroll; */
}

.card-width{
  width: 104% !important;
}
.main-block{
  margin-top: 75px;
  overflow-y: scroll;
  height: 617px
}