<%- include('../partials/header.ejs')%>
    <div class="wrapper">
        <div id="formContent">
            <h2>Login</h2>
          <form action = '/user/login' method = 'POST'>
            <input type="text" class="login-input" id="login" name="login" placeholder="Login">
            <input type="password" class="login-input" id="password"  name="password" placeholder="Password">
            <input type="submit"  value="Log In">
          </form>
        </div>
      </div>
  
<%- include('../partials/footer.ejs')%>
</body>
</html>